#main {
    border: black solid 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.images {
    width: 270px;
    height: auto;
}

.list {
    display: flex;
    flex-wrap: wrap;
    border: black solid 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.element {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% / 6 - 40px);
    box-sizing: border-box;
}

.element:nth-child(6n) {
    margin-right: 0;
}

#no-ads-message {
    display: none;
    font-size: 18px;
    color: red;
    margin-top: 20px;
}