#main {
    border: black solid 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.list {
    display: flex;
    border: black solid 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.images {
    width: 270px;
    height: auto;
}

.element {
    margin-left: 20px;
    margin-right: 20px;
}